<div class="container" style="margin-top: 120px; margin-bottom: 120px; text-align: center;">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 style="font-size: 72px; color: #d9534f;">500</h1>
            <h2>Server Error</h2>
            <p class="lead">Something went wrong on our end.</p>
            <p><%= message %></p>
            <a href="/" class="btn btn-primary">Go Home</a>
            <a href="javascript:history.back()" class="btn btn-default">Go Back</a>
        </div>
    </div>
</div>