{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/blog.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <section class="header-full-screen background-1" id="home" style="height: 85px;"></section>
                
    <!-- blog content-->
    <section id="blog" class="blog-section" >
        
    </section>
{% endblock %}